a {
  color: #777;
  text-decoration: none;
}
p {
  margin: 0 0 45px 0;
  text-align: justify;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.footer {
  font-size: 14px;
  padding: 40px 0;
  background: #fff;
  color: #000;
}
.footer .container {
  position: relative;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 35px;
}
.footer ul li {
  margin-bottom: 10px;
}
.footer ul a {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: #888;
  text-transform: none;
}
.footer ul a:active,
.footer ul a:focus,
.footer ul a:hover {
  outline: 0;
}
.footer ul a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}
.footer ul a:hover {
  color: #fff;
}
.footer ul a:hover:before {
  width: 100%;
}
.footer ul a:before {
  background: #6770ff;
}
.footer .col-logo .path-letter {
  -webkit-transition: all 0.3s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.3s cubic-bezier(0.35, 1, 0.33, 1);
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
.footer .col-logo:hover .path-letter {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media only screen and (min-width: 250px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 250px) and (max-width: 768px) {
  .container {
    width: 80%;
  }
  .footer {
    padding: 70px 0;
  }
  .footer ul {
    margin-top: 15px;
  }
  .footer ul li {
    display: inline-block;
    margin: 0 0 0 10px;
  }

  .footer .foot-content-left {
    float: left;
  }
  .footer .foot-content {
    float: right;
  }
}

@media (min-width: 750px) and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .container {
    width: 1160px;
    width: 80%;
  }
}
